.chat-box {
    height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
}

.chat-message {
    margin-bottom: 10px;
    padding: 8px 12px;
    border-radius: 15px;
    max-width: 60%;
}

.sent {
    background-color: #007bff;
    color: #fff;
    margin-left: auto;
    text-align: right;
}

.received {
    background-color: #636363;
    color: #ffffff;
    margin-right: auto;
}