:root {
    --primary-color: #e3eed4;
    --secondary-color: #aec3b0;
    --tertiary-color: #6b9071;

    --dark-primary-color: #0f2a1d;
    --dark-secondary-color: #375534;
    --dark-tertiary-color: #aec3b0;
}

/* a,
a:visited,
a:hover,
a:active {
    color: black !important;
    text-decoration: none;
}

.username_css {
    font-weight: 650;
}

.username_css:hover {
    text-decoration: underline;
    text-decoration-color: black;
}

.image_css {
    border-radius: 50px;
    padding: .5rem;
} */