{% extends 'base.html' %}

{% block content %}
<h1>{{ _('Messages') }}</h1>


<ul class="list-group">
{% for user in users %}
    {% if user != current_user %}
        <li class="list-group-item">
            <img src="{{ user.avatar(40) }}"
                alt="{{ user.username }}'s avatar"
                class="rounded-circle me-2"
                style="width:40px; height:40px; object-fit:cover;">
            <a href="{{ url_for('main.conversation', username=user.username) }}">
                {{ user.username }}
            </a>
        </li>
    {% endif %}
{% endfor %}
</ul>
{% endblock %}